import [:repository_name] from '@core/domain/entities/[:repository_name]';
import IRepository from '@core/domain/repositories/IRepository';

export default interface I[:repository_name]Repository extends IRepository<[:repository_name]> {}
